div
{
	margin-left: 200px;
    margin-right: 200px;
    background-color: cadetblue;
}
h3
{
	background-color: green;
    text-align: center;
    color: white;
    padding: 15px;
    border: groove;
}