<!DOCTYPE html>
<html>
<head>
	<title>EMP</title>
	<style type="text/css">
		p{text-align: center;
			background-color: cadetblue;
			color: white;
			padding: 23px;
			margin-left:40%}
		#sample
		{
			margin-left: 23px;
			background-color: green;
			text-align: center;
			padding: 23px;
		}
		.sa
		{
			margin-right:20%;
			text-align: center;
			color: green;
			background-color: cadetblue;
		}
	</style>
</head>
<body>
	<h2>Hi welcome <span style="color:green;font-size: 30px">{{ename}}</span>.<br>Your id is {{id}}</h2>
	<p>Internal styling</p>
	<h3 id="sample">Internal based on id</h3>
	<h3 class="sa">	Internal class
	</h3>
	<p class="sa">This is a p tag</p>
</body>
</html>